<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3300/webapplication</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">kiit</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<!-- <property name="hibernate.enable_lazy_load_no_trans">true</property> -->
		<mapping class="com.highradius.pojo.Customer" />
		<mapping class="com.highradius.pojo.Category" />
		<mapping class="com.highradius.pojo.Supplier" />
		<mapping class="com.highradius.pojo.Employee" />
		<mapping class="com.highradius.pojo.Shipper" />
		<mapping class="com.highradius.pojo.Product" />
		<mapping class="com.highradius.pojo.OrderDetails" />
		<mapping class="com.highradius.pojo.Orders" />

	</session-factory>
</hibernate-configuration>
		